.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.14;
  /* 16/14 */

  &__list {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
  }

  &__link {
    @include tablet {
      font-size: 20px;
    }
  }
}
