<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Loft House</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="libs/youtubeLightbox.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=8846ea18-838d-4cbe-981a-94ae2e75731e&lang=ru_RU"
    type="text/javascript">
  </script>
  <script defer src="libs/youtubeLightbox.js"></script>
  <script defer src="js/main.js"></script>
</head>
