// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}


// Fonts
$font-main: 'Raleway',
sans-serif;
$font-accent: 'Playfair Display',
serif;
$font-secondary: 'Roboto',
sans-serif;
